<app-navbar-patient></app-navbar-patient>



<div class="col-12">
    <label for="exampleFormControlSelect1">Especialidades</label>
    <select class="form-control" id="exampleFormControlSelect1">
        <option>Pediatria</option>
        <option>ginecología</option>
        <option>Cardiología</option>
        <option>Neurología</option>
        <option>Dermatología</option>
        <option>Medicina Interna</option>
    </select>
</div>

<div class="container mt-5 pt-5">



    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="../../assets/images/DeLuca.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Andrew DeLuca</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <p> Reputación: <span class="glyphicon glyphicon-star"></span> <span
                        class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span></p>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Agendar
                            cita</button>
            </div>
            <br>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="../../assets/images/grey.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Meredith Grey</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p> Reputación: <span class="glyphicon glyphicon-star"></span> <span
                        class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span></p>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Agendar
                            cita</button>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="../../assets/images/arizona.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Arizona Robins</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
                <p> Reputación: <span class="glyphicon glyphicon-star"></span> <span
                        class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span></p>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Agendar
                            cita</button>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>

    </div>

    <div class="card-deck mt-5">

        <div class="card">
            <img class="card-img-top" src="../../assets/images/karev.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Alex Karev</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p> Reputación: <span class="glyphicon glyphicon-star"></span> <span
                        class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span></p>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Agendar
                            cita</button>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../assets/images/yang.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Cristina Yang</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
                <p> Reputación: <span class="glyphicon glyphicon-star"></span> <span
                        class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span></p>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Agendar
                            cita</button>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="../../assets/images/avery.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Jackson Avery</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
                <p> Reputación: <span class="glyphicon glyphicon-star"></span> <span
                        class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span></p>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Agendar
                            cita</button>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>

</div>



<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Agendar Consulta - Doctor Ruperto Gomez Ramirez</h4>

                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="card card-agendar-cita">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <div class="col-md-offset-2">
                                    <img src="images/sinfoto.jpg" class="img-circle img-fluid" alt="Cinque Terre">
                                </div>
                                <br>
                            </div>

                            <div class="form-group row">
                                <label for="example-date-input" class="col-8 col-form-label">Seleccionar Fecha</label>
                                <div class="col-10">
                                    <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="example-time-input" class="col-8 col-form-label">Seleccionar Hora</label>
                                <div class="col-10">
                                    <input class="form-control" type="time" value="13:45:00" id="example-time-input">
                                </div>
                            </div>


                            <button type="submit" class="btn btn-primary">Agendar Cita</button>
                        </form>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<app-footer-index></app-footer-index>