<div style="display: block">
        <canvas baseChart
                [datasets]="radarChartData"
                [labels]="radarChartLabels"
                [chartType]="radarChartType"></canvas>
      </div>
      <div class="container">
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/bar-chart">Usuarios Registrados</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/doughnut-chart">Doctores por especialidad</a>
                  </li>
        
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/pie-chart">Casos Resueltos por Especialidad</a>
                  </li>
                  <li class="nav-item">
                                <a class="nav-link" routerLink="">Index</a>
                              </li>
                </ul>
              </div>