<div class="row m-3">
  <div class="pb-3 col-sm-12 col-md-6 col-lg-3">
    <div class="card text-white w-100 bg-warning">
      <div class="card-header">
        {{ "estudios.pendientes" | translate }}
      </div>
      <div class="card-body">
        <p class="card-text">3</p>
      </div>
    </div>
  </div>
  <div class="pb-3 col-sm-12 col-md-6 col-lg-3">
    <div class="card text-white w-100 bg-primary">
      <div class="card-header">
        {{ "estudios.realizados" | translate }}
      </div>
      <div class="card-body">
        <p class="card-text">3</p>
      </div>
    </div>
  </div>
  <div class="pb-3 col-sm-12 col-md-6 col-lg-3">
    <div class="card text-white w-100 bg-success">
      <div class="card-header">
        {{ "estudios.interpretados" | translate }}
      </div>
      <div class="card-body">
        <p class="card-text">1</p>
      </div>
    </div>
  </div>

  <div class="pb-3 col-sm-12 col-md-6 col-lg-3">
    <div class="card text-white w-100  bg-info ">
      <div class="card-header">
        {{ "valoracion" | translate }}
      </div>
      <div class="card-body">
        <p class="card-text">5.0</p>
      </div>
    </div>
  </div>
</div>
<div class="col-16 m-3">
  <div class="scrolling-wrapper">
    <div class="card m-3" style="width: 18rem;">
      <img
        class="card-img-top center"
        style="width: 10rem;"
        src="../../assets/images/user.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Doctor: Aldo González</li>
          <li class="list-group-item">Gastrointerologría</li>
          <li class="list-group-item">Estatus: Terminado</li>
          <a href="" class="btn btn-primary">{{
            "habla.doctor" | translate
          }}</a>
          <a
            href="https://sc01.alicdn.com/kf/HTB1_XtLIFXXXXblXFXXq6xXFXXXu/220554855/HTB1_XtLIFXXXXblXFXXq6xXFXXXu.jpg"
            target="_blank"
            class="btn btn-primary-payment"
            style="color: rgb(118, 0, 0);"
            >{{ "descargar.interpretacion" | translate }}</a
          >
        </ul>
      </div>
    </div>

    <div class="card m-3" style="width: 18rem;">
      <img
        class="card-img-top center"
        style="width: 10rem;"
        src="../../assets/images/user.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Doctor: Aldo González</li>
          <li class="list-group-item">Gastrointerologría</li>
          <li class="list-group-item">Estatus: Pendiente</li>
          <a href="" class="btn btn-primary">{{
            "habla.doctor" | translate
          }}</a>
          <a
            href="/pagar"
            class="btn btn-primary-payment"
            style="color: rgb(24, 206, 24);"
            >{{ "pagar" | translate }}</a
          >
        </ul>
      </div>
    </div>
    <div class="card m-3" style="width: 18rem;">
      <img
        class="card-img-top center"
        style="width: 10rem;"
        src="../../assets/images/user.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Doctor: Aldo González</li>
          <li class="list-group-item">Gastrointerologría</li>
          <li class="list-group-item">Estatus: Pendiente</li>
          <a href="" class="btn btn-primary">{{
            "habla.doctor" | translate
          }}</a>
          <a
            href="/pagar"
            class="btn btn-primary-payment"
            style="color: rgb(24, 206, 24);"
            >{{ "pagar" | translate }}</a
          >
        </ul>
      </div>
    </div>

    <div class="card m-3" style="width: 18rem;">
      <img
        class="card-img-top center"
        style="width: 10rem;"
        src="../../assets/images/user.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Doctor: Aldo González</li>
          <li class="list-group-item">Gastrointerologría</li>
          <li class="list-group-item">Estatus: Terminado</li>
          <a href="" class="btn btn-primary">{{
            "habla.doctor" | translate
          }}</a>
          <a
            href="https://sc01.alicdn.com/kf/HTB1_XtLIFXXXXblXFXXq6xXFXXXu/220554855/HTB1_XtLIFXXXXblXFXXq6xXFXXXu.jpg"
            target="_blank"
            class="btn btn-primary-payment"
            style="color: rgb(118, 0, 0);"
            >{{ "descargar.interpretacion" | translate }}</a
          >
        </ul>
      </div>
    </div>

    <div class="card m-3" style="width: 18rem;">
      <img
        class="card-img-top center"
        style="width: 10rem;"
        src="../../assets/images/user.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Doctor: Aldo González</li>
          <li class="list-group-item">Gastrointerologría</li>
          <li class="list-group-item">Estatus: Terminado</li>
          <a href="" class="btn btn-primary">{{
            "habla.doctor" | translate
          }}</a>
          <a
            href="https://sc01.alicdn.com/kf/HTB1_XtLIFXXXXblXFXXq6xXFXXXu/220554855/HTB1_XtLIFXXXXblXFXXq6xXFXXXu.jpg"
            target="_blank"
            class="btn btn-primary-payment"
            style="color: rgb(118, 0, 0);"
            >{{ "descargar.interpretacion" | translate }}</a
          >
        </ul>
      </div>
    </div>

    <div class="card m-3" style="width: 18rem;">
      <img
        class="card-img-top center"
        style="width: 10rem;"
        src="../../assets/images/user.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Doctor: Aldo González</li>
          <li class="list-group-item">Gastrointerologría</li>
          <li class="list-group-item">Estatus: Terminado</li>
          <a href="" class="btn btn-primary">{{
            "habla.doctor" | translate
          }}</a>
          <a
            href="https://sc01.alicdn.com/kf/HTB1_XtLIFXXXXblXFXXq6xXFXXXu/220554855/HTB1_XtLIFXXXXblXFXXq6xXFXXXu.jpg"
            target="_blank"
            class="btn btn-primary-payment"
            style="color: rgb(118, 0, 0);"
            >{{ "descargar.interpretacion" | translate }}</a
          >
        </ul>
      </div>
    </div>

    <div class="card m-3" style="width: 18rem;">
      <img
        class="card-img-top center"
        style="width: 10rem;"
        src="../../assets/images/user.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Doctor: Aldo González</li>
          <li class="list-group-item">Gastrointerologría</li>
          <li class="list-group-item">Estatus: Terminado</li>
          <a href="" class="btn btn-primary">{{
            "habla.doctor" | translate
          }}</a>
          <a
            href="https://sc01.alicdn.com/kf/HTB1_XtLIFXXXXblXFXXq6xXFXXXu/220554855/HTB1_XtLIFXXXXblXFXXq6xXFXXXu.jpg"
            target="_blank"
            class="btn btn-primary-payment"
            style="color: rgb(118, 0, 0);"
            >{{ "descargar.interpretacion" | translate }}</a
          >
        </ul>
      </div>
    </div>
  </div>
  <div></div>
</div>
