<app-navbar-patient></app-navbar-patient>

<section>
  <div class="container">
    <h1 style="text-align: center">{{ "ingrese.estudios" | translate }}</h1>
    <div class="form-group">
      <label for="inputName">{{ "nombre" | translate }}</label>
      <input
        type="text"
        class="form-control"
        id="inputName"
        placeholder="{{ 'nombre' | translate }}"
      />
    </div>
    <div class="form-group">
      <label for="inputLname">{{ "apellidos" | translate }}</label>
      <input
        type="text"
        class="form-control"
        id="inputLname"
        placeholder="{{ 'apellidos' | translate }}"
      />
    </div>
    <div class="form-group">
      <label for="inputIdStudy">{{ "tipo.estudio" | translate }}</label>
      <input
        type="text"
        class="form-control"
        id="inputIdStudy"
        placeholder="{{ 'tipo.estudio' | translate }}"
      />
    </div>
    <div class="form-group">
      <label for="inputLab">{{ "laboratorio" | translate }}</label>
      <input
        type="text"
        class="form-control"
        id="inputLab"
        placeholder="{{ 'laboratorio' | translate }}"
      />
    </div>
    <div class="form-group">
      <input type="file" />
    </div>
    <div class="form-group">
      <a href="paciente">
        <button class="btn btn-primary" type="button" id="btn-signup">
          <i class="fas fa-user-plus"></i> {{ "next" | translate }}
        </button>
      </a>
    </div>
  </div>
</section>

<!-- <app-footer-index></app-footer-index> -->
