<app-insights-doctor></app-insights-doctor>



<div class="col-16 m-3">


    <div class="scrolling-wrapper">

        <div class="card m-3" style="width: 18rem;">
            <img class="card-img-top center" style="width: 10rem;" src="../../assets/images/user.jpg"
                alt="Card image cap">
            <div class="card-body">


                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nombre: Aldo González</li>
                    <li class="list-group-item">Edad: 21 años</li>
                    <li class="list-group-item">Tipo de estudio: ECG</li>
                    <a href="/interpretar" class="btn btn-primary">Interpretar</a>

                </ul>

            </div>
        </div>


        <div class="card m-3" style="width: 18rem;">
            <img class="card-img-top center" style="width: 10rem;" src="../../assets/images/user.jpg"
                alt="Card image cap">
            <div class="card-body">


                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nombre: Aldo González</li>
                    <li class="list-group-item">Edad: 21 años</li>
                    <li class="list-group-item">Tipo de estudio: ECG</li>
                    <a href="/interpretar" class="btn btn-primary">Interpretar</a>

                </ul>

            </div>
        </div>

        <div class="card m-3" style="width: 18rem;">
            <img class="card-img-top center" style="width: 10rem;" src="../../assets/images/user.jpg"
                alt="Card image cap">
            <div class="card-body">


                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nombre: Aldo González</li>
                    <li class="list-group-item">Edad: 21 años</li>
                    <li class="list-group-item">Tipo de estudio: ECG</li>
                    <a href="/interpretar" class="btn btn-primary">Interpretar</a>

                </ul>

            </div>
        </div>

        <div class="card m-3" style="width: 18rem;">
            <img class="card-img-top center" style="width: 10rem;" src="../../assets/images/user.jpg"
                alt="Card image cap">
            <div class="card-body">


                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nombre: Aldo González</li>
                    <li class="list-group-item">Edad: 21 años</li>
                    <li class="list-group-item">Tipo de estudio: ECG</li>
                    <a href="/interpretar" class="btn btn-primary">Interpretar</a>

                </ul>

            </div>
        </div>

        <div class="card m-3" style="width: 18rem;">
            <img class="card-img-top center" style="width: 10rem;" src="../../assets/images/user.jpg"
                alt="Card image cap">
            <div class="card-body">


                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nombre: Aldo González</li>
                    <li class="list-group-item">Edad: 21 años</li>
                    <li class="list-group-item">Tipo de estudio: ECG</li>
                    <a href="/interpretar" class="btn btn-primary">Interpretar</a>

                </ul>

            </div>
        </div>

        <div class="card m-3" style="width: 18rem;">
            <img class="card-img-top center" style="width: 10rem;" src="../../assets/images/user.jpg"
                alt="Card image cap">
            <div class="card-body">


                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nombre: Aldo González</li>
                    <li class="list-group-item">Edad: 21 años</li>
                    <li class="list-group-item">Tipo de estudio: ECG</li>
                    <a href="/interpretar" class="btn btn-primary">Interpretar</a>

                </ul>

            </div>
        </div>

        <div class="card m-3" style="width: 18rem;">
            <img class="card-img-top center" style="width: 10rem;" src="../../assets/images/user.jpg"
                alt="Card image cap">
            <div class="card-body">


                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nombre: Aldo González</li>
                    <li class="list-group-item">Edad: 21 años</li>
                    <li class="list-group-item">Tipo de estudio: ECG</li>
                    <a href="/interpretar" class="btn btn-primary">Interpretar</a>

                </ul>

            </div>
        </div>



    </div>

    <div></div>


</div>